{% extends "emails/base_email.html" %}

{% block content %}
<h3>Hello {{ user.full_name }},</h3>
<p>This is a friendly reminder that <strong>{{ event.event_name }}</strong> is happening soon!</p>

<h4>Event Details:</h4>
<ul>
    <li><strong>Date:</strong> {{ event.event_date.strftime('%B %d, %Y') }}</li>
    <li><strong>Time:</strong> {{ event.event_time.strftime('%H:%M') }}</li>
    <li><strong>Venue:</strong> {{ event.venue }}</li>
</ul>

<p>Time remaining: approximately {{ time_remaining.seconds // 3600 }} hours.</p>

<p>See you there!</p>
{% endblock %}
